{% extends 'base.html' %}

{% import "bootstrap/wtf.html" as wtf %}

{% block app_content %}
<!--{{ super() }}-->

<div class="mt-5 col-5 offset-md-4">

  {% for cat, msg in get_flashed_messages(True) %}
    <div class="alert alert-{{cat}}" role="alert">{{msg}}</div>
  {% endfor %}

    <h1>Authorization:</h1>
    <form
            {% if request.args.get('next') %}
              action="{{ url_for('authorization', next=request.args.get('next')) }}"
            {% else %}
              action="{{ url_for('authorization') }}"
            {% endif %}
            method="post"
    >

      {{ form.hidden_tag() }}

    <d1>
      {% if form.email.errors %}
        {{ wtf.form_field(form.email, class='form-control is-invalid') }}
      {% else %}
          {{ wtf.form_field(form.email, class='form-control', placeholder="We'll never share your email with anyone else.") }}
      {% endif %}

      {% if form.psw.errors %}
        {{ wtf.form_field(form.psw, class='form-control is-invalid') }}
      {% else %}
          {{ wtf.form_field(form.psw, class='form-control', placeholder="Enter your password.") }}
      {% endif %}

      {{ wtf.form_field(form.remember_me, class="form-check-input") }}
      {{ wtf.form_field(form.submit, class="mt-3 btn btn-primary") }}
    </d1>
      <a href="{{url_for('registration')}}" class="ml-3 mt-3 btn btn-outline-primary">Registration</a>
    </form>
</div>

{% endblock %}